/*
    $LastChangedRevision$
    $LastChangedDate$
*/

body {
  font-family: ffGeorgia, "Times New Roman", Times, serif;
}

h1 {
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
}

h2 {
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
}

h3 {
  font-size: large;
  font-weight: normal;
  text-align: left;
  text-decoration: none;
}

h4 {
  font-size: medium;
  font-weight: bold;
  text-align: left;
  text-decoration: none;
}

img {
  border: 0;
}

.copyright {
  text-align: center;
  font-size: x-small;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

.subtitle {
  text-align: center;
}

.author {
  text-align: center;
}

.code {
  background-color: #F0F0F0;
}

.programlisting {
  background-color: #F4F4F4;
}

.sect1 {
  margin-left: 100px
}

.sect2 {
  margin-left: 100px  
}
